In [65]:
"""
Queries
"""

import csv, sqlite3

def number_of_nodes():
    result = cur.execute('SELECT COUNT(*) FROM nodes')
    return result.fetchone()[0]

def number_of_ways():
    result = cur.execute('SELECT COUNT(*) FROM ways')
    return result.fetchone()[0]

def number_of_unique_users():
    result = cur.execute('SELECT COUNT(DISTINCT(e.uid)) \
            FROM (SELECT uid FROM nodes UNION ALL SELECT uid FROM ways) e')
    return result.fetchone()[0]
    
def top_contributing_users():
    users = []
    for row in cur.execute('SELECT e.user, COUNT(*) as num \
            FROM (SELECT user FROM nodes UNION ALL SELECT user FROM ways) e \
            GROUP BY e.user \
            ORDER BY num DESC \
            LIMIT 10'):
        users.append(row)
    return users

def number_of_users_contributing_once():
    result = cur.execute('SELECT COUNT(*) \
            FROM \
                (SELECT e.user, COUNT(*) as num \
                 FROM (SELECT user FROM nodes UNION ALL SELECT user FROM ways) e \
                 GROUP BY e.user \
                 HAVING num=1) u')
    return result.fetchone()[0]

def common_ammenities():
    for row in cur.execute('SELECT value, COUNT(*) as num \
            FROM nodes_tags \
            WHERE key="amenity" \
            GROUP BY value \
            ORDER BY num DESC \
            LIMIT 10;'):
        return row

def biggest_religion():
    for row in cur.execute('SELECT nodes_tags.value, COUNT(*) as num \
                FROM nodes_tags \
                JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value="place_of_worship") i \
                ON nodes_tags.id=i.id \
            WHERE nodes_tags.key="religion" \
            GROUP BY nodes_tags.value \
            ORDER BY num DESC \
            LIMIT 1;'):
        return row

def popular_cuisines():
    for row in cur.execute('SELECT nodes_tags.value, COUNT(*) as num \
            FROM nodes_tags \
                JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value="restaurant") i \
                ON nodes_tags.id=i.id \
            WHERE nodes_tags.key="cuisine" \
            GROUP BY nodes_tags.value \
            ORDER BY num DESC'):
        return row

if __name__ == '__main__':

    con = sqlite3.connect(r"C:\Users\Chaudhary\Downloads\udacity\data wrangling\ahmedabad.db")
    cur = con.cursor()

In [66]:
print "Number of nodes: " , number_of_nodes()

Number of nodes:  373437

In [67]:
print "Number of ways: " , number_of_ways()

Number of ways:  823

In [68]:
print "Number of unique users: " , number_of_unique_users()

Number of unique users:  238

In [69]:
print "Top contributing users: " , top_contributing_users()

Top contributing users:  [(u'vkvora', 64020), (u'uday01', 48603), (u'shravan91', 48340), (u'sramesh', 40863), (u'chaitanya110', 35149), (u'bhanu3', 31982), (u'shashi2', 27937), (u'Oberaffe', 18903), (u'PlaneMad', 10498), (u'Heinz_V', 10021)]

In [70]:
print "Number of users contributing once: " , number_of_users_contributing_once()

Number of users contributing once:  7

In [71]:
print "Common ammenities: " , common_ammenities()

Common ammenities:  (u'place_of_worship', 91)

In [72]:
print "Biggest religion: " , biggest_religion()

Biggest religion:  (u'hindu', 59)

In [73]:
print "Popular cuisines: " , popular_cuisines()

Popular cuisines:  (u'regional', 6)

In [75]:
# Counting number of nodes

conn = sqlite3.connect(sqlite_file)

cur = conn.cursor()

cur.execute('SELECT COUNT(*) FROM nodes;')
all_rows = cur.fetchall()

print('Number of nodes are:{}').format(all_rows)

conn.commit()

NameError: name 'sqlite_file' is not defined